<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><img src="../../assets/img/footer-logo.png" alt=""></a></div>
        <div class="soci-link">
             <ul class="social-link">
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li class="dribbble"><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
   </div>
        <div class="credits">
           
            Designed by <a href="#">Ritik</a>
        </div>
    </div>
</footer>
