<app-nav></app-nav>

<!-- <section class="causes_area">
    <div class="container">
        <div class="main_title">
            <h2>Our major causes</h2>
            <p>Creepeth called face upon face yielding midst is after moveth </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>Give Donation</h4>
                    <img src="../../assets/img/causes/c1.png" alt="">
                    <p>
                      we're feeding the under served. you can help
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>Give Inspiration</h4>
                    <img src="../../assets/img/causes/c2.png" alt="">
                    <p>
                        It you're. Was called you're fowl grass lesser land together waters beast darkness earth land whose male all moveth fruitful.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>Become volunteer</h4>
                    <img src="../../assets/img/causes/c3.png" alt="">
                    <p>
                        Join our family and help in feeding the under served
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--================ End Causes Area =================-->

<!--================ Start Features Cause section =================-->
<!-- <section class="features_causes">
    <div class="container">
        <div class="main_title">
            <h2>Featured causes</h2>
            <p>Creepeth called face upon face yielding midst is after moveth </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <img class="card-img-top img-fluid" src="../../assets/img/features/fc1.jpg" alt="Card image cap">
                        </figure>
                        <div class="card_inner_body">
                            <h4 class="card-title">Education for every child</h4>
                            <p class="card-text">
                                Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.
                            </p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>Raised: $1533</p>
                                <p><span>Goal: $2500</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                <a href="#" class="primary_btn">donate</a>
                                <p><span class="lnr lnr-heart"></span> 90 Donors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <img class="card-img-top img-fluid" src="../../assets/img/features/fc2.jpg" alt="Card image cap">
                        </figure>
                        <div class="card_inner_body">
                            <h4 class="card-title">Feeding the hungry people</h4>
                            <p class="card-text">
                                Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.
                            </p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>Raised: $1533</p>
                                <p><span>Goal: $2500</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                <a href="#" class="primary_btn">donate</a>
                                <p><span class="lnr lnr-heart"></span> 90 Donors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <img class="card-img-top img-fluid" src="../../assets/img/features/fc3.jpg" alt="Card image cap">
                        </figure>
                        <div class="card_inner_body">
                            <h4 class="card-title">Providing cloth people</h4>
                            <p class="card-text">
                                Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.
                            </p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>Raised: $1533</p>
                                <p><span>Goal: $2500</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                <a href="#" class="primary_btn">donate</a>
                                <p><span class="lnr lnr-heart"></span> 90 Donors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container-fluid glf-background-card"><div  id="glf-gallery-2" class="container glf-card"><div class="widget widget_glf-gallery"><div class='row'>
    <div class='col text-center'>
        <h2>Delicious Italian Food</h2>
        <span class='glf-card-subbtitle-container text-center'>
            <span class='glf-card-subtitle-dash ml-auto'></span>
            <span class='glf-card-subtitle mr-auto subtitle'>Love At First Bite</span>
        </span>
    </div>
</div>
<div class='row widget-glf-gallery-gallery'><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-1.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-1.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-2.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-2.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-3.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-3.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-4.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-4.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-5.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-5.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-6.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-6.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-7.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-7.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-8.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-8.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div><div class='col-6 col-md-4 glf-gallery-image'>
            <a href='../../assets/img/gallery-9.jpg' rel='glf-gallery-2'>
                <img src='../../assets/img/gallery-9.jpg' class='img-responsive glf-coverify-image'/>
            </a>
        </div></div></div></div></div>
  <app-footer></app-footer>