<div class="bg-div">
  <img class="logo-img" src="../../assets/img/download.jpg" height="100px" ALT="align box" ALIGN=CENTER>

  <nav class="main-nav-outer" id="test">
    <ul class="main-nav">
      
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</li>
      
    <li><a [routerLinkActive]="['active']" [routerLink]="['/login']">LogOut</a></li>
   </ul>
  </nav>
</div>





 <!-- <nav class="main-nav-outer" id="test"> -->
  <!--main-nav-start-->
   <!-- <span class="small-logo"><a [routerLink]="['/hommihome']"><img src="../../assets/img/download.jpg" height="120px" alt=""></a></span> -->
 
    <!-- <ul class="main-nav"> -->
      <!-- <li class="small-logo"></li> -->
      <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/hommihome']">Home</a></li> -->
      <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/weight-traning']" >Become Volunteer</a></li> -->
      <!-- <li><a [routerLink]="['/blogs']">Blogs</a></li> -->
     
      <!-- <li><a [routerLink]="['/team']">Team</a></li> -->
      <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/yoga']">Donate Food  </a></li> -->
      <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/home-workout']">Request For Food</a></li> -->
      <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/east-delhi']">East Delhi</a></li> -->
      <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/login']">LogOut</a></li> -->
      <!-- <li class="small-logo"><a [routerLink]="['/weight-traning']"><img src="../../assets/img/hommieicon1.png" alt=""></a></li> -->
    <!-- </ul> -->
    
 
<!-- </nav>  -->
