<app-nav></app-nav>
<br><br>
<section class="about_area section_gap">
    <div class="container">
        <div class="row">	
            <div class="single_about row">
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="../../assets/img/about-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content">
                        <h2>
                            We are NoName Restaurant  <br>
                                
                        </h2>
                        <p>
                            At Restaurant Pronto we pride ourselves with the ability to offer our customers
                             delicious and authentic Italian food, created at the highest standards. 
                            Every single meal we make is unique. We guarantee that you won`t get disappointed.
                        </p>
                        <p>
                            The key to our success is simple: providing exquisite meals, 
                            made out of only the purest and freshest of ingredients that taste great every single time.
                        </p>
                        <p>
                            Our goal is to help you enjoy the little things in life that matter.
                             So eat delicious food. Grab a drink. But most of all, 
                             relax! We thank you from the bottom of our hearts for your continued support.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    
<div class="container-fluid glf-background-card"><div  id="glf-about-us-3" class="container glf-card"><div class="widget widget_glf-about-us"><div class='row'>
    <div class='col-lg-6 glf-about-card-text'>
        <h2>Food Delivery in NY</h2><span class='glf-card-subbtitle-container'>
        <span class='glf-card-subtitle-dash'></span>
        <span class='glf-card-subtitle subtitle'>Get Served Like a King</span>
    </span><p>Looking for food delivery nearby? Not everybody knows or has the time to prepare tasty food.</p>
<p>When you want to get served like a king then food delivery from restaurant Pronto will be your best choice.</p>
<p>Simply select "Delivery" at the checkout screen and we hope you'll appreciate our food delivery service.</p>
</div><div class='col-12 col-lg-6 col-md-8 glf-about-card-image'>
                <img src='../../assets/img/food-delivery.jpg' alt='food-delivery.jpg' class='img-responsive glf-coverify-image'/>
            </div></div></div></div></div>
</section>


<!--Section for profiles-->
<!-- 
<section class="team_area section_gap">
    <div class="container">
        <div class="main_title">
            <h2>Meet our voluteer</h2>
            <p>Creepeth called face upon face yielding midst is after moveth </p>
        </div>
        <div class="row team_inner">
            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="../../assets/img/voluteer/v1.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Alea Mirslava</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="../../assets/img/voluteer/v2.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Adam Virland</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="../../assets/img/voluteer/v3.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Adam Virland</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="../../assets/img/voluteer/v4.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>Adam Virland</h4>
                        <p>Party Manager</p>
                        <p class="mt-20">
                            So seed seed green that winged cattle in kath  moved us land years living.
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

      <app-footer></app-footer>
    
  