
<nav class="main-nav-outer" id="test">
    <!--main-nav-start-->
    <div class="container">
      <ul class="main-nav">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/servicees']">Services</a></li>
        <li><a [routerLink]="['/blogs']">Blogs</a></li>
        <li class="small-logo"><a href="#header"><img src="../../assets/img/small-logo.png" alt=""></a></li>
        <!-- <li><a [routerLink]="['/team']">Team</a></li> -->
        <li><a [routerLink]="['/aboutus']">About US</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a [routerLink]="['/register']">Signup/Login</a></li>
      </ul>
      <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
    </div>
  </nav>
  