
<nav class="main-nav-outer" id="test">
    <!--main-nav-start-->
   
      <ul class="main-nav">
         <li class="small-logo"><a [routerLink]="['/']"><img src="../../assets/img/download.jpg" height="120px" alt=""></a></li>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/aboutus']">About US</a></li>
        <li><a [routerLink]="['/blogs']">Gallery</a></li>
       
        <!-- <li><a [routerLink]="['/team']">Team</a></li> -->
        
        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a [routerLink]="['/register']">Signup/Login</a></li>
      </ul>
      <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
 
  </nav>
  