

<app-hommie></app-hommie>


<div class="header">
    <h1>Welcome</h1> 
    <br><br><br><br><br><br><br><br><br><br>
    <div class="center">
      <span class="glf-button" data-glf-cuid="3b55f490-2d3c-42a2-ae76-3d11f0b36230" data-glf-ruid="39904e0d-a05b-43fc-8bf9-892e55e9fe6f" > See MENU & Order</span>
    <span class="glf-button reservation" data-glf-cuid="3b55f490-2d3c-42a2-ae76-3d11f0b36230" data-glf-ruid="39904e0d-a05b-43fc-8bf9-892e55e9fe6f" data-glf-reservation="true" > Table Reservation</span>
     
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
       
  
  </div>



  <br><br>

  


  

  