<app-hommie></app-hommie>
<div class="container"><h3 >We're feeding the under served.
    You can help. </h3>
    <h6 >Poor access to nutritious food results in hunger and malnutrition prevalent amongst certain sections, while lack of awareness causes food wastage amongst others. 


        All our programs are designed to bridge this gap between demand and supply of food as a solution to the problem of hunger and food waste in India.
        
         
        
        Your donations make this possible.
    </h6></div>




<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSctMFsGsXbVCQ0_nop9ojZS9NSkn6pGWwFcWa7QSIXUNG42JQ/viewform?embedded=true" width="100%" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>