
	<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="../../assets/img/logo.png" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Welcome To Fit Factory</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li><h3>Take care of your body.</h3></li><br>
				<h2>It's the only place you have to live.<span class="typed-cursor">|</span></h2>
				
			</ul>
			

			<a class="link animated fadeInUp delay-1s servicelink" [routerLink]="['/register']">Register  </a>
		</div>
	</header>