header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #ffffff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
h2,h3{
    color: aliceblue;
}
h1{
	font-size: 5em;
}