<app-nav></app-nav>
<div id="container">
        <div class="login-wrap">
        <div class="login-html">
            <h2 >Register</h2>
            <hr color="white" width="150px">



            <form #registerForm="ngForm" > 
                <div class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched">
                    <label for="fullName" class="control-label" class="colora">First Name</label>
                    <input type="text" class="form-control" pattern="^[a-zA-Z\s]*$" minlength="2" #fullNameControl="ngModel" name="firstName" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" placeholder="First name" required>
                    <span class="help-block" *ngIf="fullNameControl.errors?.required && fullNameControl.touched" style="color:blanchedalmond">Full Name Is Required</span>
                    <span class="help-block" *ngIf="fullNameControl.errors?.pattern || fullNameControl.errors?.minlength && fullNameControl.touched" style="color:blanchedalmond">Enter Valid Name</span>
                    <!-- <span class="help-block" *ngIf="fullNameControl.errors?.pattern && fullNameControl.touched" style="color:blanchedalmond">Enter Valid Name</span> -->

                </div>


                <div class="form-group">    
                        <label for="lastName" class="colora"> Last Name </label>
                        <input type="text" class="form-control"  pattern="^[a-zA-Z\s]*$" minlength="2" #lastNameControl="ngModel" name="lastName" [(ngModel)]="lastName" placeholder="Last name" required>
                        <span class="help-block" *ngIf="lastNameControl.errors?.required && lastNameControl.touched" style="color:blanchedalmond">Last Name Is Required</span>
                        <span class="help-block" *ngIf="lastNameControl.errors?.pattern || lastNameControl.errors?.minlength && lastNameControl.touched" style="color:blanchedalmond">Enter Valid Name</span>
                        <!-- <span class="help-block" *ngIf=" && lastNameControl.touched" style="color:blanchedalmond">Enter Valid Name</span>
     -->
                    </div>



                <div class="form-group">
                          <label for="exampleInputEmail1" class="colora" >Email address</label>
                          <input type="email" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" class="form-control" #emailControl="ngModel" name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter email" >
                          <span class="help-block" *ngIf="emailControl.errors?.required && emailControl.touched" style="color:blanchedalmond">Email Is Required</span>
                          <span class="help-block" *ngIf="emailControl.errors?.pattern && emailControl.touched" style="color:blanchedalmond">Email Is Invalid</span>
                        </div>
                
                
                <div class="form-group">
                  <label for="exampleInputPassword1" class="colora" >Password</label>
                  <input type="password" class="form-control" minlength="6" #passwordControl="ngModel" [(ngModel)]="password"  name="password" placeholder="Password" required>
                  <span class="help-block" *ngIf="passwordControl.errors?.required && passwordControl.touched" style="color:blanchedalmond">Password Is Required</span>
                  <span class="help-block" *ngIf="passwordControl.errors?.minlength && passwordControl.touched" style="color:blanchedalmond">Password minimum length is 6</span>
                </div>
                
                
                <!-- <div class="form-group">
                        <label for="exampleInputPassword1" class="colora">Confirm Password</label>
                        <input type="confirm_password" class="form-control" [(ngModel)]="password" name="confirmpassword"  placeholder="Password" required>
                      </div> -->
              
                    <button  style='margin-right:16px' class="btn btn-primary" [disabled]="registerForm.invalid" (click)='addData()' >Register</button>
              
              </form>




              <hr color="white">
              <div > 
              <label for="exampleInputPassword1" class="colora">Have An Account? </label>
              <button  style='margin-right:16px' class="btn btn-link" [routerLink]="['/login']"  >Login</button>
            </div>
        </div>
      </div>
      </div>

      <app-footer></app-footer>
<!-- 
      <script type="text/javascript">
          var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
      </script>
       -->